<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<h1 class="about-header" style="color: #ffffff">Nos Services</h1>
<div class="how-section1" style="background-color: #0E76A8">
  <div class="row">
    <div class="col-md-6 how-img" style="padding-top: 2%">
      <div class="circular" id="bgM">
      <img src=""   class="img-fluid" alt=""/>
    </div>

    </div>
    <div class="col-md-6">
      <h4 style="color: #EA4C89">SIGMaP</h4>

      <p class="paraserv">
        Ce système permet de gérer toutes les étapes des procédures de passation des marchés.
       Cette solution permet de prendre en charge le traitement des marchés publics
         de la phase de planification (plans de passations, avis généraux),
         jusqu’à la fin de l’exécution en passant par toutes les étapes de la procédure
         de passations (Préparation des appels d’offres, publication des appels d’offre, ouverture des plis,
         évaluation des offres, signature des marchés, exécution, recours, contentieux, …)
       </p>
       <p class="paraserv"> Elle offre les fonctionnalités suivantes :
        Préparation des appels d’offres,
        Publication des appels d’offre,
        Ouverture des plis,
        Evaluation des offres,
        Signature des marchés,
        Exécution,
        Recours,
        Contentieux,
        Gestion de la sécurité
        Statistiques
       </p>
<p class="paraserv">
        Le système de gestion des Marchés publics mis en place par 2SI est le premier
  système en Afrique de l’Ouest qui respecte les directives 04 et 05 de l’UEMOA.
  Il est aussi reconnu comme étant le meilleur par les bailleurs après une mission
  de comparaison des différents systèmes existants.

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 style="color: #EA4C89">Ticketing</h4>
      <p class="paraserv">
        L'application mobile E-transport vous permet de connaître les horaires des prochains passages
        à l'arrêt ou la station de votre choix en temps réel. Elle vous permet également de vous géolocaliser
        et de repérer les arrêts et stations les plus proches de vous.
      </p>
      <p class="paraserv">
        Autre avantage de l'application mobile : vous avez la possibilité
        d’acheter votre titre de transport directement sur votre Smartphone.
      </p>
      <p class="paraserv">
        Grâce au E-transport, plus besoin de monnaie, ni d’attente ,votre titre de transport, c’est votre Smartphone !
      </p>
    </div>
    <div class="col-md-6 how-img">
      <div class="circular" id="bgT">
      <img src="" class="img-fluid" alt=""/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 how-img">
      <div class="circular" id="bgB">
      <img src="" class="img-fluid" alt=""/>
      </div>
    </div>
    <div class="col-md-6">
      <h4 style="color: #EA4C89">Gestion de bus</h4>
      <p class="paraserv">Send and receive files. Deliver digital assets in a secure environment.
        Share feedback in real time. Use GetLance Messages to communicate via text, chat, or video.
        Use our mobile app. Many features can be accessed on your mobile phone when on the go.</p>
    </div>
  </div>
</div>
