<!-- Top Background Image Wrapper -->
<div class="bgded overlay" >
 <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left">
        <ul class="nospace">
          <li><i class="fas fa-phone"></i> +00 (211) 456 7890</li>
          <li><i class="far fa-envelope"></i> ssi@ssi.sn</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace">
          <li><a href="index.html"><i class="fas fa-home"></i></a></li>
          <li><a href="#" title="Help Centre"><i class="fas fa-life-ring"></i></a></li>
          <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <div class="gb_na">
          <a href="index.html">
            <img src="../assets/images/demo/backgrounds/Logo_2Si_baseline_BD.jpg"/>
          </a>
        </div>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a class="drop" href="#">A Propos</a>
            <ul>
              <li><a href="pages/gallery.html">Prix et Distinctions</a></li>
              <li><a href="pages/full-width.html">Nos Produits</a></li>
              <li><a class="drop" href="pages/sidebar-left.html">Nos Partenaires</a>
                <ul>
                  <li><a href="#">Consultants</a></li>
                  <li><a href="#">Dépôt de CV en ligne</a></li>
                </ul>
              </li>
              <li><a href="pages/sidebar-right.html">Les Références</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Services</a>
            <ul>
              <li><a href="#">MARCHES PUBLIQUES</a></li>
              <li><a class="drop" href="#">TRANSPORTS</a>
                <ul>
                  <li><a href="#">Ticketing(gestion abonnement, gestion de la répartition)</a></li>
                  <li><a href="#">Gestion d’un Bus</a></li>
               </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Ressources</a></li>
          <li><a class="drop" href="#">Assistance</a>
            <ul>
              <li><a href="#">Messages du visiteurs(es)</a></li>
              <li><a href="#"> Support technique</a></li>
              <li><a href="#">Chatbot</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </div>

<!--  <section id="testimonial">-->
<!--    <div class="container01">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6 col-md-offset-3">-->
<!--          <div id="owl-testimonials" class="owl-carousel owl-theme">-->
<!--            <div class="item">-->
<!--              <article class="center">-->
<!--                <img src="../assets/level1/img/office-865091_1920.jpg"/>-->
<!--              </article>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <article class="center">-->
<!--               <img src="../assets/level1/img/portfolio_big_item_02.jpg"/>-->
<!--              </article>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <article class="center">-->
<!--               <img src="../assets/level1/img/portfolio_big_item_03.jpg"/>-->
<!--              </article>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--              <article class="center">-->
<!--                <img src="../assets/level1/img/portfolio_big_item_04.jpg"/>-->
<!--              </article>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  </div>
<!-- End Top Background Image Wrapper -->





<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="row">
      <div class="col-lg-12">
          <section id="testimonial">
            <div class="container01">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                      <article class="center">
                        <img src="../assets/level1/img/office-865091_1920.jpg"/>
                      </article>
                    </div>
                    <div class="item">
                      <article class="center">
                       <img src="../assets/level1/img/portfolio_big_item_02.jpg"/>
                      </article>
                    </div>
                    <div class="item">
                      <article class="center">
                       <img src="../assets/level1/img/portfolio_big_item_03.jpg"/>
                      </article>
                    </div>
                    <div class="item">
                      <article class="center">
                        <img src="../assets/level1/img/portfolio_big_item_04.jpg"/>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
      <br/><br/>
      <div class="col-lg-12">
        <section>
          <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Prix et Distinctions</h6>
          </div>
          <ul class="nospace group overview btmspace-80">
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-eraser"></i></a>
                <h6 class="heading"><a href="#">Vivamus laoreet orci vel massa phasellus</a></h6>
                <p>Tortor praesent et nulla maecenas eu nibh laoreet varius mauris lectus&hellip;</p>
                <footer><a href="#">View Details &raquo;</a></footer>
              </article>
            </li>
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-cut"></i></a>
                <h6 class="heading"><a href="#">Sem iaculis blandit ultrices adipiscing</a></h6>
                <p>Ultricies et ligula aliquam erat volutpat cras lobortis augue in vulputate&hellip;</p>
                <footer><a href="#">View Details &raquo;</a></footer>
              </article>
            </li>
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                <h6 class="heading"><a href="#">Rhoncus sapien magna turpis proin</a></h6>
                <p>Posuere justo non malesuada libero ut lectus curabitur eu neque felis&hellip;</p>
                <footer><a href="#">View Details &raquo;</a></footer>
              </article>
            </li>
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-rocket"></i></a>
                <h6 class="heading"><a href="#">Dictum quisque est imperdiet pulvinar</a></h6>
                <p>Quam iaculis sed pretium ac fringilla ultricies nibh in mauris libero interdum&hellip;</p>
                <footer><a href="#">View Details &raquo;</a></footer>
              </article>
            </li>
          </ul>
          <div class="clear"></div>
        </section>
      </div>
    </div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



<div class="about-header">
  <h3>Mot de la Directrice Generale</h3>
  <div class="item">
    <article class="center">
      <img src="../assets/images/demo/backgrounds/photoDirectrice.jpeg"/>
    </article>
  </div>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
  <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
  <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
  <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
  <p> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. . </p>
  <div class="clearfix"></div>
</div>



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
      <div class="group">
      <div class="one_quarter first">
        <h6 class="heading">CONTACTS</h6>
        <ul class="nospace btmspace-30 linklist contact">
          <li><i class="fas fa-map-marker-alt"></i>
            <address>
              Street Name &amp; Number, Town, Postcode/Zip
            </address>
          </li>
          <li><i class="fas fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="far fa-envelope"></i> info@domain.com</li>
        </ul>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">VOTRE MESSAGE</h6>
        <p class="nospace btmspace-15">Nunc urna porttitor eget molestie a consequat at lectus donec sollicitudin.</p>
        <form method="post" action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Submit</button>
          </fieldset>
        </form>
      </div>
      <div class="one_quarter">
        <h6 class="heading">References</h6>
        <ul class="nospace linklist">
          <li><a href="#">Est a orci donec eleifend</a></li>
          <li><a href="#">Dignissim erat proin diam</a></li>
          <li><a href="#">Aenean vehicula augue</a></li>
          <li><a href="#">Et neque sed ligula nisl</a></li>
          <li><a href="#">Dictum quis tempus eu</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
