<div class="row" style="background-color: #0E76A8">
  <div class="column">
    <img src="../../assets/images/demo/bus-ticket-content.jpg" alt="Snow" style="width:700px; height: 400px">
  </div>
  <div class="column">
    <!--    <img src="img_forest.jpg" alt="Forest" style="width:100%">-->
    <h1  style="color: #ffffff; font-size: 25px">Service Ticketing</h1>
    <p class="" style="color: #ffffff; width:100%">Ce système permet de gérer toutes les étapes des procédures de passation des marchés

      Cette solution permet de prendre en charge le traitement des marchés publics de la phase de planification (plans de passations, avis généraux), jusqu’à la fin de l’exécution en passant par toutes les étapes de la procédure de passations (Préparation des appels d’offres, publication des appels d’offre, ouverture des plis, évaluation des offres, signature des marchés, exécution, recours, contentieux, …)

      Elle offre les fonctionnalités suivantes :

      Préparation des appels d’offres,
      Publication des appels d’offre,
      Ouverture des plis,
      Evaluation des offres,
      Signature des marchés,
      Exécution,
      Recours,
      Contentieux,
      Gestion de la sécurité
      Statistiques

      Le système de gestion des Marchés publics mis en place par 2SI est le premier système en Afrique de l’Ouest qui respecte les directives 04 et 05 de l’UEMOA. Il est aussi reconnu comme étant le meilleur par les bailleurs après une mission de comparaison des différents systèmes existants.

    </p>
  </div>
  <!--<div class="column">
    <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
  </div>-->
</div>
