<div class="row" *ngIf="!serviceSecurity.kc.authenticated">
  <div class="col-lg-12" style="background-image:url('../../assets/images/demo/backgrounds/banner.jpg');">
    <div class="row">
      <p></p>
    </div>
    <div class="row">
<!--      <div class="row">-->
        <div class="col-lg-3"></div>
        <div class="col-lg-6 slider-container">
          <!-- SLIDER -->
          <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide" >
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <!-- END SLIDER -->
        </div>
        <div class="col-lg-3"></div>
<!--      </div>-->
    </div>
    <div class="row">
      <p></p>
    </div>
  </div>
  <!-- PRIX ET DISTINCTIONS -->
  <div class="col-lg-12">
    <div class="wrapper row3">
      <main class="hoc container clear">
        <!--      <div class="row">-->
        <!--        <div class="col-lg-12">-->
        <section>
          <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Prix et Distinctions</h6>
          </div>
          <ul class="nospace group overview btmspace-80">
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-trophy"></i></a>
                <h6 class="heading"><a href="#">2011</a></h6>
                <p>Meilleure entreprise en ingénierie logicielle dans l'espace UEMOA</p>
                <footer><a href="#">Voir Plus &raquo;</a></footer>
              </article>
            </li>
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-trophy"></i></a>
                <h6 class="heading"><a href="#">2012</a></h6>
                <p>Awards de l'innovation - Institut  Africain de Manangement</p>
                <footer><a href="#">Voir Plus &raquo;</a></footer>
              </article>
            </li>
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-trophy"></i></a>
                <h6 class="heading"><a href="#">2011</a></h6>
                <p>Top 50 HelSinki des meilleures entreprises sur 80 pays</p>
                <footer><a href="#">Voir Plus &raquo;</a></footer>
              </article>
            </li>
            <li class="one_quarter">
              <article><a href="#"><i class="fas fa-trophy"></i></a>
                <h6 class="heading"><a href="#">2014</a></h6>
                <p>2014 : Jambars-Tech Awards dans la catégorie " Meilleur éditeur de logiciel</p>
                <footer><a href="#">Voir Plus &raquo;</a></footer>
              </article>
            </li>
          </ul>
          <div class="clear"></div>
        </section>
        <!--        </div>-->
        <!--      </div>-->
      </main>
    </div>
  </div>

  <!-- MOT DE LA DIRECTRICE -->
  <div class="col-lg-12">
   <div class="about-header">
      <h3>Mot de la Directrice Generale</h3>
      <div class="item">
        <article class="center">
          <img src="../assets/images/demo/backgrounds/photoDirectrice.jpeg"/>
        </article>
      </div>
      <div class="motd_quarter">
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
          Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
        <!--    <p></p>-->
      </div>
      <p></p>
      <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
      <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
      <p> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. . </p>
      <div class="clearfix"></div>
    </div>
  </div>
</div>






